
.project_section{
text-align: center;
padding-top:80px;
height: 100vh;
} 

/* .project_section h2{ */
    /* margin:50px 0px  30px 0px; */
    /* font-size: 6rem; */
/* } */
#project_info_slider_container{
height: 60%;
overflow: scroll;
}
#project_info_slider_container #left{
    left:1vw;
}

#project_info_slider_container #right{
    right:1vw;
}

#project_info_slider_container #left,
#project_info_slider_container #right{
    /* top:45vh; */
    font-size: 5em;
    height: 18%;
}

.project_info_slider{
    width:200%;
    height: 100%;
}

.project_info_item{
    /* margin-bottom: 20px; */
    /* height: 65%; */
    width:45%;
}

.project_wrapper{
    justify-content: center;
/* height: 100vh; */

}

.project_img_wrapper{
height: 80%;
 /* width:40%; */
}

.project_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.btn_title{
margin-bottom: 10px;
}

.project_details{
height: auto;
width:55%;
}

.btn_wrapper{
    margin-bottom:20px;
}
@media only screen and (min-width: 0px){
    .project_section h1 {
        font-size: 3rem;
    }

    #project_info_slider_container #left,
    #project_info_slider_container #right{
    top:25vh;
    }

    .project_img_wrapper{
        width:80%; 
       }
}


@media only screen and (min-width: 568px){
    .project_section h1 {
        font-size: 4rem;
    }

    #project_info_slider_container #left,
    #project_info_slider_container #right{
    top:30vh;
    }

    .project_img_wrapper{
        width:60%; 
       }
}

@media only screen and (min-width: 830px){
     .project_section h1 {
    font-size: 6rem;
}

#project_info_slider_container #left,
#project_info_slider_container #right{
    top:45vh;
}

.project_img_wrapper{
    width:40%; 
   }

.project_details{
    width:55%;
}

}

@media only screen and (max-width:830px){
     .project_section{
         padding-top:70px;
     }

     .project_info_item{
         flex-direction: column;
     }
     
     .project_section{
         height: auto;
     }

     #project_info_slider_container{
         margin:20px 0px;
     }

    /* .project_img_wrapper{
     width:60%; 
    } */
     .project_details{
       width:100%;
       margin:10px 0px;
     }

     .project_details p{
         text-align:justify;
     }
}