.about_master_section{
text-align: center;
}

.about_section{
    height: 100vh;
    padding-top: 80px;
}



.about_myself_wrapper{
height: 70%;
margin-top: 4rem;
background-color: #2C2C2C;
color:#ffffff;
}

.about_myself{
    height: 100%;
    position: relative;
}

.about_pic_container{ 
    /* width: 16%; */
    margin: auto;
    height: auto;
    border-radius:50%;
    /* box-shadow :-18px -12px 0 0px #757577; */
    position: absolute;
    /* left:42%; */
    /* top:-13%; */
    background-color: #2C2C2C;
 }

.about_pic{
    border-radius: 50%;
    height: 100%;
    width:100%;
    margin:auto;
    object-fit: contain;
    justify-content: center;
}

.my_info{
    /* height:100%; */
    /* align-items: flex-end; */
    /* padding-top: 10vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* width:80%; */
    left:0%;
    position:absolute;
}
.my_info p{
    height: fit-content;
    width: 80%;
}

.expertise_section{
    /* height: 100vh; */
}

.expertise_section h2{
    justify-content: center;
    margin: 1rem 0px;
}
.expertise_section h2 span{
   border-bottom: 3px solid;
}
.languages,.tools{
justify-content: center;
flex-wrap: wrap;
height: 40%;
margin-bottom:10px;
}

.lang_img_wrapper,.tool_img_wrapper{
    width:80%;
    height: 50%;
    margin: auto;
    
}

.expertise_flex_item{
    justify-content: center;
    /* width: 15%; */
    background-color:#2C2C2C;
    margin:10px;
    border-radius: 6px;
    flex-direction: column;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
}

.lang_card,.tool_card{
    /* padding:5px; */
    margin:5px;
}

.expertise_flex_item .lang_name,.tool_name{
    display: inline-block;
    font-size: 1.1rem;
    padding:5px 0px;    
    border-radius: 30px 30px 0px 0px;
    width:100%;
    color:#ffffff;
}

.lang_img,.tool_img{
    width: 100%;
    height:100%;
    object-fit: contain;
}

.fa-tools,.fa-laptop-code{
    margin-right: 15px;
}

@media only screen and (min-width:0px){

.about_pic_container{
    width:38%;
    top:-16vw;
    left:31%;
}
/* .my_info{
    top:21vw;
} */

.about_heading{
    font-size: 3rem;
}

}

@media only screen and (min-width:306px){
.about_pic_container{
    width:28%;
    top:-9vw;
    left:36%;
}

/* .my_info{
    top:20vw;
} */

.my_info p {
    /* width:70%; */
    font-size: 1rem;
}
}

@media only screen and (min-width:568px){

.about_pic_container{
    width:20%;
    top:-7vw;
    left:40%;
}

.about_heading{
    font-size: 4rem;
}
/* .my_info{
    top:14vw;
} */
.my_info p {
    /* width:70%; */
    font-size: 1.125rem;
}


}

@media only screen and (max-width:830px){
.about_section{
    padding-top: 70px;
}

}
@media only screen and (min-width:830px){

.about_pic_container{
    width:16%;
    top:-5vw;
    left:42%;
}

/* .my_info{
    top:11vw;
    display:flex;
    justify-content: center;
} */
.my_info p {
    /* width:70%; */
    font-size: 1.25rem;
}

.about_heading{
    font-size: 6rem;
}

}

